.space-line {
    width: 8rem;
    height: 0.17rem;
    background-color: #AE1B3FFF;
}

.character-require {
    color: red;
}

.dvsearch {
    padding-top: 1rem;
}

.lb-check-approve {
  cursor: pointer;
}
