<div class="p-lg-12 p-md-12 p-col-12 p-m-auto">
    <h5 class="p-text-center p-my-5">THÊM MỚI ĐƠN VỊ TÍNH PHÍ</h5>
    <p-card>
      <form class="p-fluid" [formGroup]="formCreateCa">
        <div class="p-grid p-mb-3">
          <div class="p-md-6 p-lg-6">
            <p>Thông tin thời hạn</p>
            <div class="space-line"></div>
          </div>
        </div>
        <div class="p-grid">
          <div class="p-col-12 p-md-6 p-lg-6">
            <div class="p-fluid p-grid">
              <div class="p-col-12 p-field">
                <label for="period-code"><span class="character-require">* </span>Mã đơn vị</label>
                <input id="period-code" formControlName="code" type="text" pInputText/>
                <small *ngIf="hasErrorInput('code', 'required')" class="p-error">
                  Mã thời hạn không được bỏ trống!
                </small>
              </div>
            </div>
          </div>

          <div class="p-col-12 p-md-6 p-lg-6">
            <div class="p-fluid p-grid">
              <div class="p-col-12 p-field">
                <label for="period-cost"><span class="character-require">* </span>Chi phí</label>
                <input id="period-cost" formControlName="cost" type="text" pInputText />
                <small *ngIf="hasErrorInput('cost', 'required')" class="p-error">
                  Số tháng không được bỏ trống!
                </small>
              </div>
            </div>
          </div>
          
          
        </div>
        <div class="p-grid">
          <div class="p-col-12 p-md-6 p-lg-6">
            <div class="p-fluid p-grid">
              <div class="p-col-12 p-field">
                <label for="period-name"><span class="character-require">* </span>Tên đơn vị</label>
                <input id="period-name" formControlName="name" type="text" pInputText/>
                <small *ngIf="hasErrorInput('name', 'required')" class="p-error">
                  Tên đại lý không được bỏ trống
                </small>
              </div>
            </div>
          </div>

          <div class="p-col-12 p-md-6 p-lg-6">
            <div class="p-grid">
              <div class="p-col-12 p-field">
                <label for="verify-num"><span class="character-require">* </span>Trạng thái</label>
                <p-dropdown formControlName="status" [options]="status" optionLabel="name" [showClear]="true"></p-dropdown>
                <small *ngIf="hasErrorInput('status', 'required')" class="p-error">
                  Trạng thái không được bỏ trống
                </small>
              </div>
            </div>
          </div> 
      </div>

      </form>
      <div class="p-mb-3 p-text-center">
        <button pButton pRipple type="button" label="Lưu thông tin" class="p-button-info"
          (click)="createCa()"></button>
      </div>
    </p-card>
  </div>