<div class="p-lg-12 p-md-12 p-col-12 p-m-auto">
    <h5 class="p-text-center p-my-5">THÔNG TIN CHI TIÊT</h5>
    <p-card>
      <form class="p-fluid" [formGroup]="formCreateCa">
        <div class="p-grid p-mb-3">
          <div class="p-md-6 p-lg-6">
            <p>Thông tin thời hạn</p>
            <div class="space-line"></div>
          </div>
        </div>
        <div class="p-grid">
          <div class="p-col-12 p-md-6 p-lg-6">
            <div class="p-fluid p-grid">
              <div class="p-col-12 p-field">
                <label for="period-code"><span class="character-require">* </span>Mã đơn vị</label>
                <input id="period-code" formControlName="code" type="text" pInputText placeholder="Nhập mã đại lý" />
              </div>
            </div>
          </div>

          <div class="p-col-12 p-md-6 p-lg-6">
            <div class="p-fluid p-grid">
              <div class="p-col-12 p-field">
                <label for="period-cost"><span class="character-require">* </span>Chi phí</label>
                <input id="period-cost" formControlName="cost" type="text" pInputText placeholder="Nhập số tháng" />
              </div>
            </div>
          </div>
          
          
        </div>
        <div class="p-grid">
          <div class="p-col-12 p-md-6 p-lg-6">
            <div class="p-fluid p-grid">
              <div class="p-col-12 p-field">
                <label for="period-name"><span class="character-require">* </span>Tên đơn vị</label>
                <input id="period-name" formControlName="name" type="text" pInputText placeholder="Nhập tên đại lý" />
              </div>
            </div>
          </div>

          <div class="p-col-12 p-md-6 p-lg-6">
            <div class="p-fluid p-grid">
              <div class="p-col-12 p-field">
                <label for="status"><span class="character-require">* </span>Trạng thái</label>
                <input id="status" formControlName="status" type="text" pInputText placeholder="Chọn trạng thái" />
              </div>
            </div>
          </div>
           
      </div>

      <div class="p-grid">
        <div class="p-col-12 p-md-6 p-lg-6">
          <div class="p-fluid p-grid">
            <div class="p-col-12 p-field">
              <label for="period-createdDate"><span class="character-require">* </span>Ngày tạo</label>
              <input readonly id="period-createdDate" formControlName="createdDate" type="text" pInputText />
            </div>
          </div>
        </div>

        <div class="p-col-12 p-md-6 p-lg-6">
          <div class="p-fluid p-grid">
            <div class="p-col-12 p-field">
              <label for="period-updatedDate"><span class="character-require">* </span>Ngày sửa đổi</label>
              <input readonly id="period-updatedDate" formControlName="updatedDate" type="text" pInputText />
            </div>
          </div>
        </div>
      </div>
      
      </form>
    </p-card>
  </div>