<!--Has Child-->
<ng-container *ngIf="item.isHasChildren; else noChildren">
  <a (click)="doItemClick($event)" [attr.tabindex]="0">
    <i class="layout-menuitem-icon" [ngClass]="item.icon || ''"></i>
    <span>{{item?.label}}</span>
    <i class="pi pi-fw pi-angle-down layout-submenu-toggler"></i>
  </a>
  <!--Children-->
  <ul [@children]="active ? 'visibleAnimated' : 'hiddenAnimated'">
    <ng-container *ngFor="let child of item.items">
      <agri-nav-item [item]="child"></agri-nav-item>
    </ng-container>
  </ul>
</ng-container>

<!--No Child-->
<ng-template #noChildren>
  <a (click)="doItemClick($event)"
     [routerLink]="item.routerLink" routerLinkActive="active-menuitem-routerlink"
     [routerLinkActiveOptions]="{exact: true}"
     [attr.tabindex]="0">
    <i class="layout-menuitem-icon" [ngClass]="item.icon || ''"></i>
    <span>{{item.label}}</span>
  </a>
</ng-template>

